.Rproj.user
.Rhistory
.RData
.Ruserdata
data-raw
.DS_Store
figures
tables
mod_T_prc.rda
mod_phen_T_prc.rda
mod_phen_T_prc_Taxon.rda
mod_phen_T_prc_Type.rda
mod_morph_T_prc_Taxon.rda
mod_morph_T_prc.rda
mod_morph_T_prc_Type.rda
mod_morph_T_prc_Therm.rda
subl*
examples
